
.explore-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 25px 40px;
    margin-top: 20px;
    margin-left: 25px;
   
  }
  
  .explore-header h1 {
    font-size: 30px;
    color:rgb(22, 24, 24);
    font-weight: bold;
    
   
  }
  .dark .search-box input {
    background-color: #c0aef0;
    border-color: #563374;
    color: #000000;
  }
  
  
  .search-box {
    position: relative;
    width: 300px;
    margin-right: 60px;
  }
  
  .search-box input {
    width: 100%;
    padding: 10px 15px 10px 40px;
    border-radius: 25px;
    border: 2px solid  #5a4a8a;
    outline: none;
    font-size: 16px;
    background-color: #7a6d9e;
    border-color: #301f3f;
    color: #ffffff;
    
  }
  .search-box input::placeholder{
    color: #ffffff;
  }
  .search-icon {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgb(252, 252, 252);
  }
  
  .explore-container {
    display: flex;
    justify-content: center; 
    gap: 30px;               
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 40px auto;       
}
  
  
  .no-post {
   
    text-align: center;
    font-size: 32px;
    margin-top: 60px;
  }
  .createform{
    display: flex;
   
    height: 20%;
    width: 9%;
    margin: 0;
    margin-bottom: 20px;
    flex: 1; 
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
   background-color:#a699ca;
   color: rgb(0, 0, 0);
   margin-right: 100px;
    border: none;
    gap: 15px;
    margin-top: 20px;
    margin-left: 70px;
  }

  .explore-add {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    width: 100%;
  }
  
  .explore-adddata {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 85%; 
  }
  
  .explore-input {
    width: 100%; 
    padding: 10px 12px;
    border: 1px rgb(22, 24, 24);
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    background:#e2d8fc ;
  }
  
  .error-text{
    color: red;
    margin: 0;
    padding: 0;
  }
  
  .btn-explore {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    width: 15%; 

  }

.btn-explore {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
}


.btn1-explore, .btn2-explore {
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  min-width: 100px; 
}

:root {

  --text-color: #161818;
  --btn-bg: #a699ca;
}

@media (prefers-color-scheme: dark) {
  :root {
      --bg-color: black;
      --text-color: white;
      --btn-bg: #a699ca; 
  }
}


body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease; 
}

.explore-header h1 {
  color: var(--text-color);
}

.btn1-explore, .btn2-explore {
  background-color: var(--btn-bg);
  color: rgb(0, 0, 0);
}

.dark .explore-header h1, 
.dark .no-post {
  color: #ffffff;
}

.dark .search-icon {
  color: #3f3f3f;
}
.dark .search-box input::placeholder {
  color: #3f3f3f;
}