footer {
  width: 100%;
  height: 10%; 
  padding: 14px 0;
  background: rgb(186, 149, 255); 
  color: rgb(64, 59, 73);
  text-align: center;
  bottom: 0;
  left: 0;
  font-family: "Segoe UI", sans-serif;
  box-shadow: 0 -3px 12px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s ease, color 0.3s ease;
}

footer p {
  margin: 0;
  font-size: 16px;
  letter-spacing: 0.4px;
  margin-top: 10px;
}

footer b {
  color: rgb(0, 0, 0);
  font-weight: 600;
}

/* --- Dark Mode Styles --- */

footer.dark {
  background: #41306e; 
  color: #ffffff;
}

footer.dark b {
  color: #ffffff; 
}

footer.dark p {
  color: #ffffff;
}
