.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 12px 20px;
    margin-top: 20px;
  }
  
  .page-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(135deg, black, black);
    color: white;
    font-size: 20px;
    cursor: pointer;
    
  }

  .page-info {
    font-size: 20px;
    color: #374151;
  }
  .page-btn:disabled {
    background-color: #cccccc;
    border-color: #aaaaaa;
    color: #666666;
    cursor: not-allowed;
    opacity: 0.7;
  }
   .pagination select {
    padding: 8px 14px;
    border-radius: 8px;
    border: 1.5px solid #ccc;
    background-color: #111;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    appearance: none; 
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg fill='white' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
    padding-right: 35px;
  }
  
  .pagination select:hover {
    border-color: #4caf50;
  }
  
  .pagination select:focus {
    border-color: #4caf50;
    box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.3);
  }
  
  
  .pagination select option {
    background-color: #111;
    color: #fff;
  }
   