/* --- Default (Light Mode) --- */
.App {
  background-color: #f6efff; 
  color: #000000;
  min-height: 100vh;
}

.container {
  display: flex;
  text-align: center;
  max-width: 2000px;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
  color: #000000; /* Light mode text */
}

.title {
  text-align: center;
  color: #000000; /* Light mode text */
}

/* --- Dark Mode Styles --- */
/* જ્યારે theme 'dark' હોય ત્યારે આ નીચેના ફેરફાર થશે */

.App.dark {
  background-color: #765FB0; 
  color: #ffffff; 
}

/* ડાર્ક મોડમાં કન્ટેનર અને ટાઈટલનો કલર સફેદ કરવા માટે */
.App.dark .container, 
.App.dark .title {
  color: #ffffff;
}
  